click==7.1.2
datasets==1.6.2
dill==0.3.3
fsspec==2021.4.0
huggingface-hub==0.0.8
joblib==1.0.1
multiprocess==0.70.11.1
numpy==1.21.0
pandas==1.2.4
portalocker==2.0.0
protobuf==3.15.5
pyarrow==4.0.0
pytz==2021.1
regex==2020.11.13
sacrebleu==1.5.1
sacremoses==0.0.43
scipy==1.6.1
sentencepiece==0.1.95
tensorboardX==2.1
tokenizers==0.10.1
torch==1.9.0
tqdm==4.49.0
transformers==4.4.2
typing-extensions==3.10.0.0
xxhash==2.0.2
